.footer {
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.top {
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img {
    width: 95px;
    height: 95px;
    object-fit: cover;
}

.socialLinks {
    width: 300px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 35px;
    color: #444475;
    transition: color 0.5s ease-out;
}

.icon:hover {
    color: black;
}

.contact {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    margin: 10px 0;
}

.copyright {
    width: 300px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.bottom {
    width: 100%;
    height: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputContainer {
    width: 520px;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.input {
    width: calc(100% - 30px);
    height: 100%;
    padding-left: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.submitBtn {
    position: relative;
    width: 30px;
    height: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.submitBtn::before {
    position: absolute;
    top: 15%;
    left: -20%;
    /* transform: translate(-50%, -20%); */
    content: '';
    width: 2px;
    height: 70%;
    background-color: lightgray;
    border-radius: 20px;
}

.btnIcon {
    font-size: 15px;
    color: black;
}

.listContainer {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lists {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.listLink {
    font-size: 1rem;
    font-weight: 400;
    color: #444475;
    text-transform: capitalize;
    transition: color 0.5s ease-out;
}

.listLink:hover {
    color: black;
}

@media (max-width: 1023px) {
    .footer {
        grid-template-columns: 1fr;
        justify-content: flex-start;
        gap: 35px;
    }

    .top, .bottom {
        /* width: 520px; */
        /* margin: auto; */
        padding: 35px 15px;
        align-items: flex-start;
    }

    .logo {
        width: 200px;
    }

    .contact, .copyright {
        width: 100%;
    }

    .socialLinks {
        justify-content: flex-start;
    }

    .inputContainer {
        margin-bottom: 35px;
    }
}

@media (max-width: 767px) {
    .top, .bottom {
        width: 100%;
        padding: 15px;
    }

    .logo {
        width: 180px;
    }

    .inputContainer {
        width: 100%;
    }

    .listContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}