.navbar {
    /* position: relative; */
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.link {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    border-radius: 20px;
    transition: all 0.5s ease-out;

}

.link:hover::after {
    width: 105%;
}

.nestedItem {
    position: absolute;
    top: 86%;
    left: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

.item:hover >.nestedItem {
    display: flex;
}